<h1>U2F Registration</h1>

<p>U2F Device: <%= @u2f_device.inspect %></p>
<p>User: <%= @user.inspect %></p>
<p>Registration Requests: <%= @registration_requests.inspect %></p>
<p>Sign Requests: <%= @sign_requests.inspect %></p>

<%= registration_requests_data(@registration_requests) %>
<%= sign_requests_data(@sign_requests) %>

<%= form_tag(user_u2f_registrations_path, id: 'u2f-reg-form') do %>
  <%= hidden_field_tag(:response, nil, id: 'u2f-reg-form-response') %>
<% end %>
